@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

:root {
  /* Light mode (main) colors */
  --text: hsl(147, 43%, 4%);
  --background: #f0faf5;
  --primary: #41c37c;
  --secondary: #8ee1b5;
  --accent: #5bdc97;
  --github: #24292f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  background-color: var(--background);
  height: 10000px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
  margin-top: -1rem;
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

p {
  font-size: 1.5rem;
}

button {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins";
  color: var(--text);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2rem 1rem;
  margin-bottom: 8rem;
  border-bottom: 4px solid var(--accent);
  background-color: rgba(240, 250, 245, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav li a {
  transition: text-decoration 0.5s;
}

nav li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 4px;
}

nav li:active {
  opacity: 0.5;
}

a {
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-thickness: 4px;
}

#js-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: var(--primary);
  outline: none;
  padding: 1rem;
  vertical-align: middle;
  transition: box-shadow 0.8s;
}

#js-top-btn:hover {
  box-shadow: 0px 4px 50px 0px var(--primary);
}

#js-top-btn img {
  vertical-align: middle;
}

.vertical-line {
  border: 1px solid var(--accent);
  padding-top: 1.5em;
}

.header-contact {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 8px;
  transition: box-shadow 0.8s;
}

.header-contact:hover {
  text-decoration: none;
  box-shadow: 0px 4px 30px 0px var(--primary);
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-text {
  font-size: 1.5rem;
}

.hero-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-socials {
  vertical-align: middle;
  margin-left: 1rem;
  border: none;
  text-decoration: none;
  background: none;
}

.hero-socials img {
  height: 3rem;
  vertical-align: middle;
}

.greeting {
  font-size: 2rem;
}

.greeting-under {
  border: 5px solid var(--primary);
  margin-bottom: 1rem;
}

.greeting-highlight {
  color: var(--primary);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary);
  margin-right: 1rem;
  transition: box-shadow 0.8s;
}

.btn-primary:hover {
  box-shadow: 0px 4px 50px 0px var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  transition: box-shadow 0.8s;
}

.btn-secondary:hover {
  box-shadow: 0px 4px 50px 0px var(--secondary);
}

.header-logo {
  font-weight: bold;
}

.hero-right {
  background-image: url("/images/riley_portrait.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid var(--text);
  box-shadow: 0px 4px 50px 0px var(--text);
}

.img-box {
  height: 19.875rem;
  width: 19.875rem;
}

/* change display property when undergoing/completing changes */

.under-construction {
  display: none;
  position: absolute;
  top: 6.5rem;
  text-align: center;
  width: 100%;
  background-color: rgb(246, 246, 98);
  font-weight: bold;
  padding: 1rem;
  z-index: 98;
}

/* Page load animation */

main {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Media queries & container utility class */

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* Uncomment below when testing breakpoints */
  /* border: 1px solid red; */
}

.header-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  .header-container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .header-container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  header {
    margin-bottom: 4rem;
  }

  .container {
    max-width: 768px;
  }

  .header-container {
    max-width: 1536px;
  }

  .hero-section {
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;

  }

  .hero-right {
    height: 15.875rem;
    width: 15.875rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
